/*
* bangumi.css
* by liangzhu ( http://acgtofe.com )
* date 2015-06-04
*/

/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/

$wrapper-width: 980px;
$subscription-input-length: 30px;
$theme-color-a: #6aaac9;
$theme-color-b: #4676a8;
$theme-color-c: #424c57;
$tap-color: #d9effa;

/*------------------------------------*\
    #MIXINS
\*------------------------------------*/

@define-mixin clearfix{
    &:after{
        display: table;
        clear: both;
        content: " ";
    }
}

/*------------------------------------*\
    #ICONS
\*------------------------------------*/

@import "fontello.css";

/*------------------------------------*\
    #BASE AND SKIN
\*------------------------------------*/

a, img {
    -webkit-touch-callout: none;
}
html, body{
    user-select: none;
}
body{
    font-family: verdana, "Microsoft Yahei", arial, sans-serif;
    font-size: 14px;
}
div, a{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}
a{

    color: $theme-color-b;
}

/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/

/*------------------------------------*\
    #HEADER
\*------------------------------------*/
.app-header{
    position: fixed;
    width: 100%;
    height: 42px;
    background: $theme-color-a;
}
.header-title{
    color: #fff;
    font-size: 18px;
}
.header-control{
    a{
        color: #fff;
    }
}
.control-help{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    overflow: hidden;
    font-size: 24px;
    text-align: center;

    &:active{
        background: color($theme-color-a l(+10%));
    }
}
.control-reset{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    overflow: hidden;
    font-size: 20px;
    text-align: center;

    &:active{
        background: color($theme-color-a l(+10%));
    }
}

/*------------------------------------*\
    #FRAME
\*------------------------------------*/
html, body{
    height: 100%;
}
.frame-container{
    height: 100%;
    padding-top: 42px;
    box-sizing: border-box;
}
.app-main{
    min-height: 100%;
    margin-bottom: -60px;
}

/*------------------------------------*\
    #FOOTER
\*------------------------------------*/
.app-footer{
    height: 60px;
    padding: 10px;
    box-sizing: border-box;
}
.copyright{
    font-size: 12px;

    a{
        color: inherit;
    }
}

/*------------------------------------*\
    #MAIN
\*------------------------------------*/

/* time note */
.time-note{
    margin-bottom: 10px;
    padding: 10px 0 0 10px;
    color: #333;

    &:before {
        display: inline-block;
        width: 6px;
        height: 22px;
        margin-right: 10px;
        background: $theme-color-b;
        vertical-align: middle;
        content: "";
    }
}

/* reminder */
.reminder-collection{

}
.reminder-item{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-bottom: 1px dotted #7571b4;

    &:hover,
    &:active{
        background: #d9effa;
    }
}
.reminder-date{
    margin-right: 10px;
    color: $theme-color-b;
}
.reminder-bangumi{
    margin-right: 10px;
    flex: 1;
    color: #333;
}
.complete-mark{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 33px;
    color: #666;
    font-size: 18px;
    text-align: center;

    .icon-check{
        position: relative;
        left: 1px;
    }
}

/* day note display */
.day-note-display{
    margin-bottom: 10px;
}

/* day */
.day-collection{
    margin-bottom: 10px;
    padding: 10px 0 0 0;
    @mixin clearfix;
}
.day-item{
    float: left;
    margin-bottom: 10px;
    padding: 5px 20px;
    border-radius: 2px;
    background: #607d8b;
    color: #fff;
    font-size: 12px;
    cursor: pointer;

    &.is-today{
        background: #2b5a8b;
    }

    &.is-selected{
        background: #f76463;
    }

    &:not(:last-of-type){
        margin-right: 10px;
    }
}

/* subscription */
.subscription-overview{
    margin-bottom: 10px;
}
.day-bangumi-count{
    display: inline-block;
    padding: 4px;
    border-radius: 2px;
    background: #b6b6b6;
    color: #fff;
    font-size: 12px;
    vertical-align: middle;
}
.subscription-edit{
    display: inline-block;
    margin-left: 10px;
    padding: 3px 1px 3px 3px;
    border-radius: 2px;
    background: #b6b6b6;
    color: #fff;
    font-size: 14px;
    vertical-align: middle;
}
.subscription-add{
    display: inline-block;
    margin-left: 10px;
    padding: 3px;
    border-radius: 2px;
    background: #b6b6b6;
    color: #fff;
    font-size: 14px;
    vertical-align: middle;
}
.subscription-collection{
    @mixin clearfix;
}
.subscription-item{
    display: flex;
    align-items: center;
    float: left;
    margin-bottom: 10px;
    padding: 5px 15px 5px 15px;
    border-radius: 2px;
    background: #455a64;
    color: #fff;
    font-size: 12px;

    &:not(:last-of-type){
        margin-right: 10px;
    }
}
.subscription-bangumi{
    height: 17px;
    margin-right: -3px;
}
.subscription-input{
    display: none;
    width: $subscription-input-length;
    height: 16px;
    margin: 0 -5px;
    padding: 0 5px 1px 5px;
    border: none;
    background: none;
}
.subscription-handle{
    margin-right: -13px;
}
.delete-mark{
    color: #fff;
    font-size: 12px;
    opacity: 0;
    cursor: default;
}
/* Could be edited in the line. */
.subscription-item.is-editing{
    padding: 5px 15px 4px 15px;
    border-radius: 0;
    border-bottom: 1px dotted #455a64;
    background: none;
    color: #333;

    .bangumi-title {
        display: none;
    }
    .subscription-input{
        display: inline-block;
    }
}
.subscription-collection.is-gradual{
    .subscription-bangumi {
        transition: margin .25s ease;
    }
    .delete-mark{
        transition: opacity .25s ease;
    }
}
/* When in this status, show the delete mark. */
.subscription-collection.is-editing{

    .subscription-bangumi {
        margin: 0 5px 0 -8px;
    }
    .delete-mark{
        opacity: 1;
        cursor: pointer;
    }
}

/*------------------------------------*\
    #RESPONSIVE DESIGN
\*------------------------------------*/

/* The css width of iPad air 2 is 768 (portrait). */
@media (max-width: 768px) {
    .wrapper-header{
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    .control-help{
        position: absolute;
        top: 0;
        right: 0;
    }
    .control-reset{
        position: absolute;
        top: 0;
        left: 0;
    }
}

@media (min-width: 769px) {
    .wrapper{
        max-width: $wrapper-width;
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;
    }
    .wrapper-header{
        display: flex;
        height: 100%;
    }
    .header-title{
        display: flex;
        flex: 1;
        align-items: center;
    }
    .header-control{
        margin-right: -10px;
    }

}
